.bloque_dir_prin
  %address
    %h3 Antígona Procesos Participativos
  %p C/ Cea Bermúdez 14 3º - 3
  %p 28003 Madrid
  %p Tlf. / Fax: 91-5350319
  %p
    %a{:href => "mailto:asociacion@antigona.org.es"} asociacion@antigona.org.es
  %br
.bloque_dir.clearfix
  %address
    %h4 En Madrid
    %p Luz Buitrago
    %p Concha Lorenzana
    %p
      %a{:href => "mailto:lbuitrago@antigona.org.es"} lbuitrago@antigona.org.es
    %p
      %a{:href => "mailto:clorenzana@antigona.org.es"} clorenzana@antigona.org.es
    %br
.bloque_dir
  %address
    %h4 En Córdoba
    %p Ernesto Ganuza
    %p
      %a{:href => "mailto:eganuza@antigona.org.es"} eganuza@antigona.org.es
    %br
.bloque_dir
  %address
    %h4 En Barcelona
    %p Lucrecia Olivari
    %p Pablo Paño
    %p
      %a{:href => "mailto:lolivari@antigona.org.es"} lolivari@antigona.org.es
    %p
      %a{:href => "mailto:pablopano@antigona.org.es"} pablopano@antigona.org.es
    %br