%header
  %section.cuerpo
    %h1 Antigona
    %article
      %h2 Procesos participativos
    %article

      #myCarousel.carousel.slide
        .carousel-inner
          .active.item= image_tag("http://farm9.staticflickr.com/8535/8692781960_3bb6503696_z.jpg", id: "diapos", class: "img-rounded")
          - @fotos.each do |foto|
            .item
              = image_tag(foto.img_link , class: "img-rounded", id: "diapos")

          /.active.item= image_tag("http://farm9.staticflickr.com/8409/8701877376_acaf2d2bf3_z.jpg")
          /.item= image_tag("iglesia.jpg", height: '32px', class: ".enbloque", id: "clinica" )
          /.item= image_tag("villanueva.jpg", height: '32px', class: ".enbloque", id: "clinica" )
        / Carousel nav
        %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
        %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
        %p
          = getTexto("que_hacemos")




