%header
  %section.cuerpo
    %h1 Antigona
    %article
      %h2 Procesos participativos
      %strong
        %p= getTexto("que_hacemos")
    %article
      .container-fluid
        %p
        - @fotos.each do |foto|
          .span3
            = image_tag(foto.img_link , class: "img-rounded", id: "fotoportada")

