.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Barra de navegación
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Publicaciones
        %b.caret
      %ul.dropdown-menu
        - @publicaciones.each do |publicacion|
          %li= link_to publicacion.name, publicacion
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Integrantes
        %b.caret
      %ul.dropdown-menu
        - @integrantes.each do |integrante|
          %li= link_to integrante.name, integrante
    %li
      =link_to "Panel de control", admin_path
    %li
      - if user_signed_in?
        = link_to "Desconectarse", destroy_user_session_path, :method => :delete
